.task {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--gray-400);
    border-radius: 8px;
    margin: 1rem;
    background-color: var(--gray-400);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);

}

.task button {
    background: transparent;
    border: 0;
    color: var(--gray-300);
    cursor: pointer;
    line-height: 0;
    border-radius: 2px;

    transition: color 0.1s;
}

.task button:hover {
    color: var(--danger);
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.containerChecked {
    display: block;
    position: relative;
    padding-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Esconder o check default */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.containerChecked input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Criado um checkbox novo */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 27px;
    width: 27px;
    border: solid 2px var(--blue);
    border-radius: 50%;
    background-color: transparent;
}

/* Hover SEM checked */
.container:hover .checkmark {
    background-color: var(--blue-dark);
}

/* Hover COM checked */
.containerChecked:hover .checkmark {
    background-color: var(--purple);
}

/* Checked styles */
.containerChecked .checkmark {
    background-color: var(--purple-dark);
    border: var(--purple-dark);
}

/* Checkmark hidden */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Mostrar checkmark ao dar check */
.containerChecked .checkmark:after {
    display: block;
}

/* Style checkmark */
.containerChecked .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid var(--gray-100);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.taskParagraph {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    width: 60vw;
    margin: auto;

    color: var(--gray-100);
    line-height: 16px;
}

/* Riscar texto ao dar checked */
.containerChecked .taskParagraph {
    text-decoration: line-through;
    color: var(--gray-300);
}